.text{
    animation-name: popUp;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    
    
}
.text h1{
    animation-name: popUp;
    animation-duration: 5s;
    animation-timing-function: linear;
    
    
}

@keyframes popUp {
    from{
        font-size: 2.8rem;
        top: 13rem;
    }
    to{
        font-size: 3.8rem ;
        top: 2.5rem;
    }

}